/*Header*/
.navbar-default {
    background-color: rgb(255, 221, 169);
}

.navbar-brand {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.#main-header {
    color: solid black;
}

.divider{
    width: 100%;
    border-style: groove;
}

/*End of header*/

/*Main guts*/
body{
    background-color: #D4E4FC;
}


article {
    border: solid black 1px;
    margin: 10px;
}

article p {
    font-family: 'Lato', sans-serif;
    color: black;
}

article h2 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
section {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

article a {
    text-align: right;
    text-decoration: none;
}

ul {
    font-weight: bold;
    
}

#chicken-tile {
    background-color: chartreuse;
}

#beef-tile {
    background-color: crimson;
}

#sushi-tile {
    background-color: darkkhaki;
}